html, body {
    height: 100%;
}

#container {
    width: 100%; /*800px;*/
    height: 100%; /*400px;*/
    overflow: hidden;
}

#domStage {
    width: 100%;
    height: 100%;
    background-color: #c0c0c0;
    position: relative;
}

.node {
    width: 100px;
    height: 100px;
    background-color: white;
    /*position: absolute;*/
    overflow: hidden;
}